*{	
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#menu{
	text-align:center;
	margin:50px;
}
#para1{
	width:30%;
	border:1px solid black;
	background-color:rgb(100,180,160);
	margin:2%;
	position:relative;
	display:inline-block;
}	
#para1>p {
	margin-top:40px;
}
.order1{
	width:40%;
	text-align:center;
	
	border:1px solid black;
	background-color:rgb(150,200,120);
	position:absolute;
	right:0px;
}

#para2{
	width:30%;
	border:1px solid black;
	background-color:rgb(150,150,200);
	position:relative;
	display:inline-block;
	margin:2%;
}
#para2>p {
	margin-top:40px;
}
.order2{
	width:40%;
	border:1px solid black;
	text-align:center;
	position:absolute;
	right:0px;
	background-color:rgb(150,180,180);
}

#para3{
	width:30%;
	border:1px solid black; 
	background-color:rgb(250,150,50);
	margin:2%;
	position:relative;
	display:inline-block;
}
#para3>p {
	margin-top:40px;
}
.order3{
	width:40%;
	border:1px solid black;
	text-align:center;
	position:absolute;
	right:0px;
	background-color:rgb(250,200,150);
}
.order1:hover{
	color:#fff;
	
}
.order2:hover{
	color:#fff;
	
} 
.order3:hover{
	color:#fff;
	
}


/*media query for small devices*/
@media(max-width:767px){
	#para1{
		width:80%;
		margin:5% 10%;
} 
#menu{
		padding:5%;
		margin:2%;
}
#para2{
		width:80%;
		margin:5% 10%;
}
#para3{
		width:80%;
		margin:5% 10%;
}
}
/*media query for medium devices*/
@media(min-width:768px) and (max-width:991px){
	#para1{
		width:40%;
		margin:6% 4.5%;
		background-color:rgb(80,120,120);
}
.order1{
		background-color:rgb(110,120,110);
}
#para2{
		width:40%;
		margin:6% 4.5%;
		
		background-color:rgb(45,150,180);
		
}
.order2{
		background-color:rgb(40,160,150);
}
	#para3{
		width:90%;
		margin:6% 4.5%;
		background-color:rgb(150,180,150);
}
.order3{

		background-color:rgb(85,140,80);
}
}
/*media query for large devices*/
@media(min-width:992px){
	#para1{
		width:28%;
		margin:2.5%;
		background-color:rgb(80,150,90);
   	}
.order1{
		background-color:rgb(100,210,90);
}
#menu{
		padding:3%;
		margin:2%;
}

#para2{
		width:28%;
		margin:2.5%;
		background-color:rgb(150,90,160);
}
.order2{
		background-color:rgb(120,110,180);
}
#para3{
		width:28%;
		margin:2.5%;
		background-color:rgb(255,50,100);
}
.order3{
		background-color:rgb(250,150,150);
}
}

